<div>
	<div ng-show="isLoggedIn()">
		<h3>Мои аудиозаписи</h3>
		<div class="form-group">
			<input class="form-control" ng-model="songFilter" placeholder="...Фильтр...">
		</div>
		<div>
			<ul class="list-group">
				<li class="list-group-item"  ng-repeat="audio in data.myAudioList | filter:songFilter">
					<div class="pull-right">
						<a title="Скачать" target="_blank" class="btn btn-xs btn-primary" href="{{audio.url}}"><i class="glyphicon glyphicon-download"></i> </a>
						<button title="Редактировать аудиозапись" class="btn btn-xs btn-primary" ng-click="edit(audio)"><i class="glyphicon glyphicon-edit"></i> </button>
						<button title="Удалить аудиозапись из списка" class="btn btn-xs btn-warning" ng-click="removeAudio(audio)"><i class="glyphicon glyphicon-trash"></i> </button>
					</div>
					{{audio.artist}} - {{audio.title}}
				</li>
			</ul>
		</div>
	</div>
	<div ng-hide="isLoggedIn()">
		<div class="alert alert-info">Авторизуйтесь чтобы увидеть ваши аудиозаписи</div>
	</div>

</div>