<div>
	<form>
		<div class="form-group">
			<label for="song-artist">Название песни</label>
			<input id="song-artist" class="form-control" ng-model="data.currentAudio.artist">
		</div>

		<div class="form-group">
			<label for="song-title">Название песни</label>
			<input id="song-title" class="form-control" ng-model="data.currentAudio.title">
		</div>

		<div class="form-group">
			<label for="song-lyrics">Текст песни</label>
			<textarea id="song-lyrics" class="form-control" ng-model="data.currentAudio.text"></textarea>
		</div>

		<input type="submit" class="btn btn-success" ng-click="save()" value="Сохранить">
		<button class="btn btn-warning" ng-click="cancel()">Отмена</button>
	</form>
</div>