<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Скрыть или показать навигацию</span>
					<span class="icon-bar"></span>

				</button>
				<a class="navbar-brand" href="#!/">Музыка VK</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-class="{'active':isActive('myaudio')}"><a href="#!/myaudio">Мои аудиозаписи</a></li>
					<li ng-class="{'active':isActive('popular')}"><a href="#!/popular">Популярные</a></li>
					<!--<li ><a href="#!/search">Поиск</a></li>-->

				</ul>

				<ul class="nav navbar-form  navbar-nav navbar-right">
					<div class="form-group">
						<button ng-if="!loggedIn" class="btn btn-default" ng-click="login()">Войти в VK</button>
						<button ng-if="loggedIn" class="btn btn-default" ng-click="logout()">Выход</button>
					</div>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>