<div>
	<div ng-show="isLoggedIn()">
		<h3>Популярные иностранные аудиозаписи</h3>
		<div class="form-group">
			<input class="form-control" ng-model="songFilter" placeholder="...Фильтр...">
		</div>
		<div>
			<ul class="list-group">
				<li class="list-group-item"  ng-repeat="audio in data.popularList | filter:songFilter">
					<div class="pull-right">
						<ng-switch on="hasSong(audio)">
							<button class="btn btn-xs btn-primary"  ng-switch-when="false" ng-click="addAudio(audio)">
								<i title="Добавить в мой плейлист" class="glyphicon glyphicon-plus-sign"></i>
							</button>
							<button ng-switch-default class="btn  btn-xs btn-primary" ng-disabled="true">
								<i title="Уже есть в плейлисте" class="glyphicon glyphicon-ok"></i>
							</button>
						</ng-switch>
					</div>


					{{audio.artist}} - {{audio.title}}
				</li>
			</ul>
		</div>
	</div>
	<div ng-hide="isLoggedIn()">
		<div class="alert alert-info">Авторизуйтесь чтобы увидеть популярные аудиозаписи</div>
	</div>
</div>